<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h3>Your details</h3>
        <div class="cv_inside">
            <p><strong>Name:</strong> Lorem, ipsum.</p>
        </div>
        <div class="cv_inside">
            <p><strong>Email</strong> Lorem, ipsum.</p>
        </div>
        <div class="cv_inside">
            <p><strong>Summary of the resume:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                odio reiciendis at quis voluptatum vel quos voluptas animi molestias harum, excepturi recusandae
                necessitatibus commodi, dolorem ab similique magni pariatur error earum nam sequi fugit non asperiores.
                Officiis similique explicabo a vitae ab eaque error earum! Molestiae quae ut recusandae est?</p>
        </div>
        <div class="cv_inside">
            <p><strong>Proposed refinements:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
                blanditiis aperiam enim expedita. Non, ratione placeat expedita est voluptatem eius?</p>
        </div>
        <div class="cv_inside">
            <p>Do you want to go back and improve your CV or proceed ahead?</p>
            <form action="/" method="post">
                <div class="button-container">
                    <button class="secondary-button" id="goBackButton">Go Back</button>
                    <button class="submit-button" id="submitButton">Submit</button>
                </div>

            </form>
        </div>


        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close-button" id="closeModal">&times;</span>
                <p>Thank you for submitting! We will contact you shortly.</p>
            </div>
        </div>
        <script src="/static/script.js"></script>

    </div>
</body>

</html>