<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Thank You for completing the questionnaier.</h2>
        <p>Your answers are successfully submitted.</p>
        <p>Your accuracy: <strong>{{ accuracy }}%</strong></p>
        <p>We will contact you shortly regarding your result.</p>
    </div>
</body>
</html>