<!DOCTYPE html>
<html>

<head>
    <title>Next Round Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <Div class="container">
        <h3>Congratulations! You have passed the first round.</h3>
        
        <form action="/next-round" method="post" enctype="multipart/form-data">
            <div class="cv_inside">
                <label for="password"><strong>Password:</strong></label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <div class="cv_inside">
                <label for="cv-upload-input" class="custom-file-upload">
                    Upload CV</label>
                <input type="file" name="cv" id="cv-upload-input">
                <span id="selected-file-name" class="selected-file-name">{{ cv_filename }}</span>
                <br>
            </div>
            
            <button class="submit-button">Submit</button>
        </form>
        

        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
    </Div>
    <script src="/static/script.js"></script>
</body>

</html>
